.body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(188, 235, 202);
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; }



 
    